.query-list-scene-queryform {
    display: flex;

    .title {
        display: inline-block;
        font-size: 14px;
        font-weight: bold;
        line-height: 32px;
    }

    .ant-form {
        display: inline-block;
        text-align: right;

        flex: 1;

        & > * {
            &:not(:last-child) {
                margin-right: 10px;
            }
        }

        .ant-form-item-control {
            min-width: 160px;
            line-height: 32px;
        }
    }
}
