.query-list-scene-queryform {
    display: flex;

    .title {
        display: inline-block;
        font-size: 14px;
        font-weight: bold;
        line-height: 32px;
    }

    .ant-form {
        display: inline-block;
        // text-align: right;
        margin-bottom: 12px;
        display: flex;

        flex: 1;

        & > div:nth-child(1) {
            height: 32px;
            overflow: hidden;
        }

        &.expanded {
            & > div:nth-child(1) {
                height: auto;
            }
        }

        &.showMore {
            & > div:nth-child(1) {
                .ant-form-item {
                    margin-bottom: 12px;
                }
            }
        }

        & > div:nth-child(2) {
            display: flex;
        }

        & > * {
            &:not(:last-child) {
                margin-right: 10px;
            }
        }

        .ant-form-item-control {
            min-width: 160px;
            line-height: 32px;
        }
    }

    .extral-actions {
        line-height: 32px;
        & > * {
            margin-left: 8px;
        }
    }
}
